@font-face {
   font-family: 'QG';
   src: url('QG/font.ttf');
}
@font-face {
   font-family: 'Fluox___';
   src: url('Fluox___/font.ttf');
}
@font-face {
   font-family: 'guildof';
   src: url('guildof/font.ttf');
}
